$key = (x,x,x,xx,x,,x,xx)
$AdminName = "xxxadmin"
$Credsvar = "xxxxxxx"
$pass = $Credsvar | convertto-securestring -key $key
$creds = new-object -typename System.Management.Automation.PSCredential -argumentlist "xxxadmin",$pass

{# a comment #}
{% if ansible_architecture == '64-bit' %}

    {% if ansible_fqdn|search('corp') == True %}
        $from = "\\gnuthpmgns0010v\windows_repository\Products\Bitdefender\Corporate\epskit_x64"
    {% else %}
        $from = "\\gnuthpmgns0010v\windows_repository\Products\Bitdefender\Commercial\epskit_x64"
    {% endif %}

{% else %}

    {% if ansible_fqdn|search('corp') == True %}
        $from = "\\gnuthpmgns0010v\windows_repository\Products\Bitdefender\Corporate\epskit_x86"
    {% else %}
        $from = "\\gnuthpmgns0010v\windows_repository\Products\Bitdefender\Commercial\epskit_x86"
    {% endif %}

{% endif %}

$to = "C:\Bitdefender\"

#New-PSDrive -Name V -PSProvider filesystem -Root $from -Credential $creds
    #NET USE \\$NEWSERV  2f15h#00 /USER:$NEWSERV\wspadmin
    NET USE $from  Travelp0rt2013 /USER:galileo\poshadmin
      copy -Recurse $from $to
    NET USE $from /DELETE


#copy-item -Recurse V:\ -Destination $to -Force

#remove-psdrive -name V
