[sssd]
config_file_version = 2
services = nss,pam,sudo
domains = LDAP

[domain/LDAP]
ldap_schema = rfc2307
enumerate=true
ldap_search_base = o=DHS
ldap_user_search_base = o=DHS?subtree?(|(memberOf=cn=All Systems,ou=Host Access,o=DHS)(memberOf=cn={{HOSTNAME}},ou=Host Access,o=DHS))
id_provider = ldap
auth_provider = ldap
ldap_uri = ldaps://INSERT-LDAP-HOSTNAME-HERE:636,ldaps://INSERT-LDAP-HOSTNAME-HERE:636
ldap_tls_cacertdir = /etc/openldap/cacerts
ldap_default_bind_dn = cn=default,ou=Computer Accounts,o=DHS
ldap_default_authtok_type = password
ldap_default_authtok = PASSWORD-GOES-HERE
sudo_provider = ldap
ldap_sudo_search_base = ou=sudoers,o=DHS
ldap_access_filter = (|(memberOf=cn=All Systems,ou=Host Access,o=DHS)(memberOf=cn={{HOSTNAME}},ou=Host Access,o=DHS))
